<header class = "hfs">Figure Skating
	
</header>
<body class="home">
	<div class="home">
		<a class="space" href="./jumps">Jumps</a>
		<a class="space" href="./spins">Spins</a>
		<a href"./stats">US Olympic Skater Info</a>
	</div>
</body>