
<header><div>Jumps</div></header>

<Body class="jump-back">
	<div class ="container">
		<div class ="left">
			<img class="flip" src="/axel.gif">
			<div>Flip</div>
		</div>
		<div class ="right">
			<img class="salchow" src="salchow.gif">
			<div>Salchow</div>
		</div>	
	</div>
	<div class ="container1">
		<div class ="right">
			<img class="loop" src="/loop.gif">
			<div>Loop</div>
		</div>
		<div class ="left">
			<img class="axel" src="/axel.gif">	
			<div>Axel</div>
		</div>	
	</div>

</Body>
<footer>
	<div>
		<a class="space1" href="./">Home</a>
		<a class="space1" href="./spins">Spins</a>
		<a href="./stats">US Olympic Skater Info</a>
	</div>
</footer>
