<Header>
	<div>Spins</div>
</Header>
<Body class="spin-back">
	<div class="container">
		<div class="left">
			<img class="photo" src="/scratch.jpg">
			<div>Sit Spin</div>
		</div>
		<div class="right">
			<img class="photo" src="/large.jpg">	
			<div>Layback</div>
		</div>	
	</div>

	<div class="container1">
		<div class="left">
			<img class="photo1" src="/camel.jpg">
			<div>Camel Spin</div>
		</div>
		<div class="right">
			<img class="photo1" src="/Sit_spin.jpg">	
			<div>Scratch Spin</div>
		</div>	
	</div>
	
</Body>

<Footer>
	<a class="space" href="./">Home</a>
	<a class="space" href ="./jumps">Jumps</a>
	<a href="./stats">US Olympic Skater Info</a>
</Footer>	
